<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".Delete">Delete</button>

<div class="modal fade Delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
		<div class="modal-header Model">
			Delete Topic
		</div>

		<div class="modal-body Model">
			<p>Do you want delete this topic</p>
		</div>

	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <%= link_to 'Destroy', topic_path(@topic),
	              				method: :delete,
	              				class: "btn btn-warning",
	              				style: "color:white"
	        %>
	    </div>

    </div>
  </div>
</div>