<nav class="navbar navbar-npa navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        LOL
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav navbar-right">
	    	<li>
        <%= render 'new' %>
			</li>
	    </ul>
    </div>
  </div>
</nav>
<%= render 'modalNew' %>
