<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h4>
    <%= pluralize(@user.errors.count, "error") %> prohibited
    this topic from being saved:
  </h4>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>